* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.home {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
    color: #fff;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: transparent;
    z-index: 1;
    padding-top: 36px;
    padding-bottom: 36px;
    border-bottom: .1px solid #939495;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.collapse ul li a {
    color: #fff !important;
}

.home-form {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.home-form a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}

.home-button {
    color: #fff;
    border: 1px solid #eee;
    border-radius: 0;
    padding: 10px 30px;
}

.home .content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .content h1 {
    font-size: 100px;
}
@media (max-width: 768px) {
    .home .content h1 {
        font-size: 50px;
    }
    
}
.row {
    padding: 0;
    margin: 0;
}

.video {
    position: relative;
    background-image: url("../images/4_R4_Logo_completo_art.png.webp");
    /* height: 720px; */
    background-size: cover;
}
@media (max-width: 1020px) {
    .video {
height: 500px;    }
    
}

#myVideo {
    width: 100%;
    height: 100%;
}

#playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    background-color: #54595F;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}

.main-text {
    padding: 54px;
}

.main-text h3 {
    font-size: 35px;
    color: #303133;
    font-weight: 700;

}

.main-text p {
    color: #777777;
    font-size: 25px;

}

.main-text span {
    color: #303133;
    font-weight: 600;

}

.btn-color {
    color: #ffffff;
    background-color: #e9560d;
    border-color: #e9560d;
    padding: 13px 31px;
    border-radius: 2px;
    font-size: 20px;

}

.btn-color:hover {
    color: #e9560d;
    background-color: #ffffff;
    border-color: #e9560d;
    padding: 13px 31px;
    border-radius: 2px;
    font-size: 20px;

}

.btn-two {
    margin-left: 25px;
    color: #e9560d;
    background-color: #ffffff;
    border-color: #e9560d;
}

.btn-two:hover {
    color: #ffffff;
    background-color: #e9560d;
    border-color: #e9560d;
}

.home-icon {
    height: 100%;
}

.home-text {
    padding: 0;
    overflow: hidden;
}

.icon-one {
    background-color: #e9560d;
    padding: 54px 36px;
    color: #fff;
}

.icon-one i {
    margin-bottom: 20px;
    font-size: 50px;
}

.icon-two {
    background-color: #54595F;
    padding: 54px 36px;
    color: #fff;
}

.icon-two i {
    margin-bottom: 20px;
    font-size: 50px;
}

.black-text {
    background-color: #141618;
    padding: 108px 36px;
}

.tons h2 {
    font-size: 75px;
    color: #e9560d;
    padding-left: 72px;

}

.left h2 {
    font-size: 50px;
    padding-left: 72px;
    width: 420px;
    color: white;
}
@media (max-width:800px) {
    .black-text .container {
        flex-direction: column;
        text-align: center;
    }
    
.tons h2 {
    font-size: 75px;
    color: #e9560d;
    padding-left: 0;

}

.left h2 {
    font-size: 50px;
    padding-left: 0;
    width: 100%;
    color: white;
}
}
.servies {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F7F7F7;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

}

.servies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
    padding-bottom: 100px;

}



.srv {
    display: flex;
    margin-bottom: 40px;

}
@media (max-width: 768px) {
    .servies-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}

.col img {
    width: 260px;
}

.col i {
    color: #e9560d;
    flex-basis: 60px;

}

.srv .text {
    flex: 1;

}

.srv .text h3 {
    margin: 0 0 20px;
    font-size: 20px;
}

.srv .text p {
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    width: 180px;
}
@media (max-width: 767px) {
    .srv {
        flex-direction: column;
        text-align: center;
    }
    .srv .text p{
        font-size: 15px;
        width: 100%;

    }
}

@media (max-width: 800px) {
    .heading {
        font-size: 60px;
    }



}
.heading {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #303133;
}

.servies-two {
    position: relative;
    background-image: url("../images/white_sfumata.jpg");
    color: white;
    text-align: center;
}

.servies-two .srv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servies-two .srv p {
    margin: 0;
    padding: 0;
    width: 100%;
}

.servies-two .container {
    position: relative;
    z-index: 2;
}

.servies-two .container i {
    color: #ffff;
}

.servies-two .container p {
    color: #ffff;
}

.servies-two .container h2 {
    color: #ffff;
}

.hurry {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.hurry p {
    color: #e9560d;
    margin-bottom: 20px;
}

.hurry h2 {
    line-height: 1.6;
    margin-bottom: 50px;
}

.hurry h6 {
    font-size: 18px;
    color: #54595F;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #e9560d;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    width: 100%;
}

.parg {
    color: #ffff;
    font-size: 75px;
    margin-bottom: 30px;
}

.form p {
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
    color: #fff;
}

.form form {
    margin-top: 30px;
}

.form input {
    margin-left: 0px;
}

.inputs {
    display: flex;
    gap: 30px;
}

.form input,
.form textarea {

    margin-top: 20px;
    border-radius: 2px;
    outline: 0;
    border: none;
    background-color: transparent;
    background-color: #fff;
    color: #fff;
    padding: 1rem;
    display: block;
    width: 100%;
    height: 45px;
    padding: 1.2rem 1.2rem;
    font-size: 1rem;
    font-weight: 400;
}

.form textarea {
    resize: vertical;
    margin-top: 20px;
    height: 90px;

}

.static_btn1 {
    width: 100%;
    margin-top: 20px;
}
.form input[type="radio"]{
    width: 20px;
    margin: 30px;
    height: 20px;
}
.instructions {
    display: block;
    margin-top: 30px;
    font-weight: 600;
}
.form input[type="submit"]{
    background-color: transparent;
    border: 1px solid #eee;
    text-align: center;
    vertical-align: middle;
    height:60px ;
    margin-top: 50px;
}